@using System.Timers
@implements IDisposable

<div class="h3 d-flex">
    @if (IsEditingBreakText)
    {
        <input @bind="BreakText" @ref="breakTextInput" class="form-control form-control-sm w-50" @onfocusout="() => IsEditingBreakText = false" />     
    }
    else
    {
        @BreakText   
    }
    
    <button class="btn btn-sm ml-4" @onclick="EditBreakText">
        <span class="oi oi-pencil" aria-hidden="true"></span>
    </button>
</div>

<div class="my-3">
    <input type="number" class="form-control" style="max-width: 150px;" @bind="BreakLength" />
</div>

<button class="btn btn-lg btn-success"
        @onclick="StartCountdownTimer">
    Start Timer
</button>

<button class="btn btn-lg btn-danger"
        @onclick="StopCountdownTimer">
    Stop Timer
</button>

@if (TimeRemaining > TimeSpan.Zero)
{
    <div class="h3 mt-3">
        <div class="d-flex">
            @if (IsEditingTimerText)
            {
                <input @bind="TimerText" @ref="timerTextInput" class="form-control form-control-sm w-50" @onfocusout="() => IsEditingTimerText = false" />     
            }
            else
            {
                @TimerText   
            }
    
            <button class="btn btn-sm ml-4" @onclick="EditTimerText">
                <span class="oi oi-pencil" aria-hidden="true"></span>
            </button>
        </div>

        <div class="text-dark h1">@OutputTime</div>
    </div>
}
